@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: none;
}

body {
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	background-color: #e9e2e1;
	padding: 0 15vmin;
	height: 100vh;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

.screen {
	background-color: rgba(110, 120, 150, 0.15);
	min-height: calc(
		100vh - 7vmax
	); /* 7vmax is value of navbar height, see class .menu in ./navbar.css */
	padding: 15px 5vmin 5vmin 5vmin;
	flex-direction: column;
}

.btn {
	padding: 1em;
	border-radius: 8px;
	border: 1px solid rgba(255, 255, 255, 0.8);
	width: 100%;
	cursor: pointer;
	font-weight: bold;
	font-size: 1.05em;
	letter-spacing: 3px;
	transition: 0.2s;
}

.btn:hover {
	transform: scaleX(1.05);
	filter: invert(1);
}

@media only screen and (max-width: 960px) {
	html {
		font-size: 90%;
	}
}

@media only screen and (max-width: 640px) {
	html {
		font-size: 80%;
	}

	body {
		padding: 0 5vmin;
	}
}
